<%- include ('../assets/head') %>

<title>Cadastro Funcionários</title>

<%- include('../assets/menu') %> 

<body>
    
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-9">
                        <div class="row g-0">
                            <div class="col-lg-6" style="text-align: center;">
                                <img src="/imagens/welcome.svg" class="img-fluid rounded-start" style="text-align: center; margin-top: 10px;" alt="imagem de login usuário" width="450" height="450">
                            </div>
                            <div class="col-lg-6">
                                <div class="card-body">
                                    <h3 style="text-align: center;">Cadastro</h3>
                                    <form action="/funcionarios/cadastro" method="POST">
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Nome</label>
                                            <input type="text" class="form-control" id="nome" name="nome" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="funcao" class="form-label">Função</label>
                                            <input type="text" class="form-control" id="funcao" name="funcao" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="data_nascimento" class="form-label">Data de nascimento</label>
                                            <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="telefone" class="form-label">Telefone</label>
                                            <input type="number" class="form-control" id="telefone" name="telefone" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="cpf" class="form-label">CPF</label>
                                            <input type="text" class="form-control" id="cpf" name="cpf" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rua" class="form-label">Rua</label>
                                            <input type="text" class="form-control" id="rua" name="rua" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="bairro" class="form-label">Bairro</label>
                                            <input type="text" class="form-control" id="bairro" name="bairro" required>
                                        </div>

                                        <div>
                                            <button type="submit" class="btn btn-outline-success" style="float: right; margin-bottom: 10px;">Cadastrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/scripts.js"></script>