<%- include ('../assets/head') %>

    <title>Consulta produtos</title>
    <style>
    
        .flex-box {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .container-box {
            height: 200px;
          }
          
          .content-box {
            text-align: justify;
          }
        </style>
    <%- include('../assets/menu') %>

        <body>
            <div class="container-fluid">
                <div class="container">
                    <div class="row flex-box">
                        <div class="col-lg-8 content-box">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Vendas</h5>
                                    <form action="/funcionarios/vendas" method="GET">
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Consulte vendas por funcionário</label>
                                            <input type="text" class="form-control" id="nome" name='nome' >
                                        </div>

                                        <div>
                                            <button type="submit" class="btn btn-outline-success"
                                                style="float: right; margin-bottom: 10px;">
                                            Consultar
                                        </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Consulte produtos vinculados a determinado fornecedor</h5>
                                    <form action="/produtos/fornecedor" method="GET">
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Digite o fornecedor</label>
                                            <input type="text" class="form-control" id="nome" name='nome' >
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-outline-success"
                                                style="float: right; margin-bottom: 10px;">Consultar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Estoque</h5>
                                    <form action="/produtos/estoque" method="GET">
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Digite o nome do produto</label>
                                            <input type="text" class="form-control" id="nome" name='nome'>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-outline-success"
                                                style="float: right; margin-bottom: 10px;">Consultar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </body>
