<%- include ('../assets/head') %>

<title>Cadastro produtos</title>
<%- include('../assets/menu') %> 
<body>
    
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-9">
                        <div class="row g-0">
                            <div class="col-lg-6" style="text-align: center;">
                                <img src="/imagens/welcome.svg" class="img-fluid rounded-start" style="text-align: center; margin-top: 10px;" alt="imagem de login usuário" width="450" height="450">
                            </div>
                            <div class="col-lg-6">
                                <div class="card-body">
                                    <h3 style="text-align: center;">Cadastro</h3>
                                    <form action="/produtos/cadastro" method="POST">
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Nome</label>
                                            <input type="text" class="form-control" id="nome" name="nome" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="tipo" class="form-label">Tipo</label>
                                            <input type="text" class="form-control" id="tipo" name="tipo" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="preco_unitario" class="form-label">Preço</label>
                                            <input type="float" min="0" class="form-control" id="preco_unitario" name="preco_unitario" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_fornecedor" class="form-label">Fornecedor</label>
                                            <select id="id_fornecedor" class="form-control" id="id_fornecedor" name="id_fornecedor" required>
                                                <option value="1">Hort-Fruti</option>
                                                <option value="2">Limpeza</option>
                                                <option value="3">Alimentos</option>
                                            </select>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-outline-success" style="float: right; margin-bottom: 10px;">Cadastrar</button>
                                        </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
