<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            <h3>Mercearia</h3>
        </a>
        
        <form class="d-flex" action="/funcionarios/home" method="GET" style="margin-right: 5px;">
            <button class="btn btn-outline-success" type="submit">Voltar<i class="fas fa-arrow-left"
                    style="padding-left: 5px; text-align: center;"></i></button>
        </form>
    </div>
</nav>